Anyer/
Cilegon/
Serang/
AIL_cnn_model.keras
model_after_batch_1.keras
model_after_batch_2.keras
model_after_batch_3.keras
pdf_cnn_model.keras
data.pkl
data2025.pkl
datajan2025.pkl
AIL_detect_model.keras
